.container {
  padding: 24px;
  background-color: black;
  border-radius: 8px;
  margin: auto;
  color: white;
}

.title {
  font-size: 20px;
  color: white;
  margin-bottom: 12px;
}

.list {
  list-style-type: none;
  padding-left: 0;
}

.listItem {
  padding: 12px;
  border-bottom: 1px solid #444;
  margin-bottom: 8px;
  background-color: #333;
  border-radius: 4px;
}

.listItem:last-child {
  border-bottom: none;
}

.addressText {
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 4px;
  color: #5b9bd5;
}

.addressText:hover {
  text-decoration: underline;
}

.infoText {
  margin: 2px 0;
  font-size: 14px;
  color: #ccc;
}

.button {
  margin-top: 8px;
  padding: 6px 12px;
  background-color: #5b9bd5;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background-color: #477ab9;
}
