.container {
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 2px;
    overflow-x: auto;
}

.button {
    padding: 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    max-width: 100px;
    overflow: hidden;
}

.button:hover {
    background-color: #f0f0f0;
    color: black;
}
.buttonActive {
     padding: 8px;
     border: none;
    color:#50eb29 ;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.3s;
    max-width: 100px;
    overflow: hidden;
    /* border: 1px solid #50eb29; */
}   