.sectionLayout {
  display: flex;
  /* height: 100vh; */
  position: relative;
}

/* Контент */
.content {
  flex: 1;
  padding: 1rem;
  /* overflow-y: auto; */
}

/* Сайдбар */
.sidebar {
  width: 300px;
  background-color: var(--background);
  border-left: 1px solid #ccc;
  padding: 1rem;
  position: fixed;
  top: var(--header-height);
  right: 0;
  height: calc(100vh - var(--header-height));
  z-index: 100;
  transform: translateX(0);
  transition:
    transform 0.3s ease-in-out,
    opacity 0.3s;
  box-shadow: -2px 0 8px rgba(0, 0, 0, 0.1);
}

/* Скрытие сайдбара */
.sidebarHidden {
  transform: translateX(100%);
  opacity: 0;
  pointer-events: none;
}

/* Кнопка открытия/закрытия */
.toggleBtn {
  position: fixed;
  bottom: 16rem;
  right: 0rem;
  z-index: 101;
  background: var(--foreground);
  color: var(--background);
  border: none;
  padding: 0.5em;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

/* Мобильная адаптация */
@media (max-width: 768px) {
  .sidebar {
    width: 80%;
  }
}

/* Style for the button when a filter is active */
.toggleBtnFiltered {
  background: #e74c3c;
}