.listContainer {
  grid-area: product;
  overflow-y: auto;
  height: 40vh; /* Висота для десктопної версії */
}

.listContainerUl {
  list-style: none;
  padding: 0; /* Скидаємо відступи за замовчуванням */
  margin: 0;
}

.listItemButton {
  background-color: var(--background);
  color: var(--foreground);
  border: 1px solid var(--border-color);

  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
  text-align: left;
  transition: background-color 0.2s ease;
}

.listItemButton:hover {
  background-color: var(
    --hover-bg-color
  ); /* или var(--hover-bg), если используешь переменные */
  color: var(--foreground);
}

.link {
  display: block;
    padding: 0.75rem 1rem;
    width: 100%;
    height: 100%;
}
.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
            "product remains"
            "moved orders";
}
@media (max-width: 768px) {
    .wrapper{
        display: block;
    }

    /* На мобільних пристроях знімаємо обмеження по висоті */
    .listContainer {
        height: auto;
        margin-bottom: 20px; /* Додаємо відступ знизу для розділення блоків */
    }
}
