.listContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  list-style: none;
    grid-area: product;
}

.listItemButton {
  background-color: var(--background);
  color: var(--foreground);
  border: 1px solid var(--border-color);
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
  text-align: left;
  transition: background-color 0.2s ease;
}

.listItemButton:hover {
  background-color: var(
    --hover-bg-color
  ); /* или var(--hover-bg), если используешь переменные */
  color: var(--foreground);
}

.link {
  display: block;
}
.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
            "product remains"
            "moved orders";
}
@media (min-width: 768px) {
    .listContainer{
        overflow: auto;
        height: 50vh;
    }


}
@media (max-width: 768px) {
    .wrapper{
        display: block;

    }

}