/* ContractList.module.css */

.list {
  list-style: none;
  padding: 0;
  margin: 1rem;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  background-color: var(--background);
}

.item {
  border-bottom: 1px solid var(--border-color);
  padding: 12px 15px;
  text-align: center;
}

.item:last-child {
  border-bottom: none;
}

.link {
  display: block;
  text-decoration: none;
  color: #0070f3;
  font-weight: 500;
  transition: color 0.2s ease-in-out;
  cursor: pointer;
  /* width: 100%; */
  /* height: 100%; */
}

.link:hover {
  color: #0056b3;
  text-decoration: underline;
}
.businessSpan {
  color: #008000; /* ✅ Цвет для line_of_business (например, зеленый) */
  font-weight: bold; /* ✅ Сделаем жирным для акцента */
  margin-left: 10px; /* ✅ Небольшой отступ слева, если нужно, хотя justify-content уже прижмет */
  white-space: nowrap; /* ✅ Чтобы текст не переносился на новую строку */
  display: block; /* ✅ Делаем блочным элементом */
}
.statusOk {
  color: #008000; /* Зеленый цвет для статуса OK */
  font-weight: bold; /* Жирный шрифт для акцента */
}
.statusFailed {
  color: #ff0000; /* Красный цвет для статуса Failed */
  font-weight: bold; /* Жирный шрифт для акцента */
}
.statusWaiting {
  color: #ffa500; /* Оранжевый цвет для статуса Waiting */
  font-weight: bold; /* Жирный шрифт для акцента */
}
