.detailsContainer {
  flex-basis: 40%;
  min-width: 0;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

.title {
  font-size: 1.2rem;
  margin-bottom: 15px;
  color: var(--foreground);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tableContainer {
  overflow-x: auto;
  width: 100%;
}

.table {
  border-collapse: collapse;
  table-layout: fixed;
  min-width: 300px;
}

.th,
.td {
  border: 1px solid var(--border-color);
  padding: 8px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--foreground);
}

.th {
  background-color: var(--header-bg-color);
  position: relative; /* Changed from sticky */
  font-weight: 600;
}

.resizer {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 5px;
  background: rgba(0, 0, 0, 0.5);
  cursor: col-resize;
  user-select: none;
  touch-action: none;
  opacity: 0;
  transition: opacity 0.2s;
}

.th:hover .resizer {
  opacity: 1;
}

.isResizing {
  background: blue;
  opacity: 1;
}

.placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 150px; /* Give placeholder some height */
  border: 2px dashed var(--border-color);
  border-radius: 8px;
  color: var(--foreground);
  background-color: var(--row-even-bg);
  text-align: center;
  padding: 10px;
}

.copyableRow {
  cursor: pointer;
}

.copyableRow:hover {
  background-color: var(--hover-bg-color);
}
