/* AddressList.module.css */
.container {
  padding: 24px;
  background-color: black;
  border-radius: 8px;
  /* max-width: 400px; */
  margin: auto;
}

.title {
  font-size: 20px;
  color: white;
  margin-bottom: 12px;
}

.list {
  list-style-type: none;
  padding-left: 0;
}

.listItem {
  padding: 8px;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
}

.listItem:hover {
  background-color: #333;
}
.listItem:active {
  background-color: #555;
}
.listItemActive {
  background-color: #0b38dc;
  /* font-weight: bold; */
}
