.listContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  list-style: none;
}

.listItemButton {
  background-color: var(--background);
  color: var(--foreground);
  border: 1px solid var(--border-color);
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
  text-align: left;
  transition: background-color 0.2s ease;
}

.listItemButton:hover {
  background-color: #333333; /* или var(--hover-bg), если используешь переменные */
  color: #ffffff;
}
.ref {
  display: block;
  width: 100%;
}

.desktopOnly {
  display: block;
  height: 100%;
}

.mobileOnly {
  display: none;
  height: 100%;
}

@media (max-width: 768px) {
  .desktopOnly {
    display: none;
  }
  
  .mobileOnly {
    display: block;
  }
}
