.pageContainer {
  padding: 20px;
}

.topContainer {
  display: grid;
  gap: 10px;
  height: 80vh;
  overflow: auto;
  grid-template-rows: 60% 40%;
  grid-template-columns: 60% 40%;
  grid-template-areas:
    "topLeft topRight"
    "bottom bottom";
}

.mainTableContainer {
  grid-area: topLeft;
  height: 100%;
  overflow: auto;
}

.bottomContainer {
  margin-top: 40px;
}

.stockDetailsContainer {
  grid-area: topRight;
  height: 100%;
  overflow: auto;
}

.ordersContainer {
  grid-area: bottom;
}

.toggleFilterButton {
    display: block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: var(--primary-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    margin-top: 15px;
    margin-bottom: 20px;
    width: 100%;
    max-width: 250px;
}

.toggleFilterButton:hover {
    background-color: var(--primary-hover-color);
}

.headerContainer{
    display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 768px) {
  .topContainer {
    display: flex;
    flex-direction: column;
    height: auto;
    overflow: visible;
  }

  .mainTableContainer,
  .stockDetailsContainer,
  .ordersContainer {
    max-height: 400px;
    width: 100%;
    margin-bottom: 20px;
  }
}