.pageContainer {
  padding: 20px;
}

/* .topContainer {
  display: flex;
  gap: 20px;
  margin-bottom: 40px; /* Space between top and bottom sections 
} */
.topContainer {
  display: grid;
  /* max-height: 100hv; */
  gap: 10px;
  height: 80vh;
  overflow: auto;
  grid-template-rows: 60% 40%;
  grid-template-columns: 60% 40%;
  grid-template-areas:
    "topLeft topRight"
    "bottom bottom";
}
.mainTableContainer {
  /* flex-basis: 60%; */
  grid-area: topLeft;
  max-height: 500px;
  overflow: auto;
  /* min-width: 0; */
}

.bottomContainer {
  margin-top: 40px;
}
.stockDetailsContainer {
  /* flex-basis: 40%; */
  grid-area: topRight;
  max-height: 500px;
  overflow: auto;
}
.ordersContainer {
  grid-area: bottom;
}
