.pageContainer {
  padding: 20px;
}

/* .topContainer {
  display: flex;
  gap: 20px;
  margin-bottom: 40px; /* Space between top and bottom sections 
} */
.topContainer {
  display: grid;
  /* max-height: 100hv; */
  gap: 10px;
  height: 80vh;
  overflow: auto;
  grid-template-rows: 60% 40%;
  grid-template-columns: 60% 40%;
  grid-template-areas:
    "topLeft topRight"
    "bottom bottom";
}
.mainTableContainer {
  /* flex-basis: 60%; */
  grid-area: topLeft;
  max-height: 500px;
  overflow: auto;
  /* min-width: 0; */
}

.bottomContainer {
  margin-top: 40px;
}
.stockDetailsContainer {
  /* flex-basis: 40%; */
  grid-area: topRight;
  max-height: 500px;
  overflow: auto;
}
.ordersContainer {
  grid-area: bottom;
}
.toggleFilterButton {
    display: block; /* Чтобы кнопка занимала всю ширину и имела отступы */
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: var(--primary-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    margin-top: 15px;
    margin-bottom: 20px; /* Отступ от контента ниже */
    width: 100%; /* Растягиваем на всю ширину для мобильного вида */
    max-width: 250px; /* Ограничиваем максимальную ширину на больших экранах */
}

.toggleFilterButton:hover {
    background-color: var(--primary-hover-color);
}
.headerContainer{
    display: flex;
  justify-content: space-between;
  align-items: center;

}