.tableWrapper {
  width: 100%;
  overflow-x: auto; /* Enable horizontal scrolling */
}

.title {
  font-size: 1.2rem;
  margin-bottom: 15px;
  color: var(--foreground);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.table {
  width: 100%;
  border-collapse: collapse;
  min-width: 600px; /* Ensure table has minimum width */
}

.th,
.td {
  border: 1px solid var(--border-color);
  padding: 8px;
  text-align: left;
  color: var(--foreground);
}

.th {
  background-color: var(--header-bg-color);
  position: sticky;
  top: 0;
  z-index: 1;
  resize: horizontal;
  overflow: auto;
  min-width: 60px;
  cursor: col-resize;
}

@media (max-width: 768px) {
  .th, .td {
    padding: 6px;
    font-size: 14px;
  }
  
  .title {
      font-size: 1rem;
      white-space: normal;
  }
}
