.tableWrapper {
  width: 100%;
  overflow-x: auto; /* Enable horizontal scrolling */
}

.title {
  font-size: 1.2rem;
  margin-bottom: 15px;
  color: var(--foreground);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  min-width: 600px;
}

.th,
.td {
  border: 1px solid var(--border-color);
  padding: 8px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--foreground);
}

.th {
  background-color: var(--header-bg-color);
  position: relative;
  font-weight: 600;
}

.resizer {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 5px;
  background: rgba(0, 0, 0, 0.5);
  cursor: col-resize;
  user-select: none;
  touch-action: none;
  opacity: 0;
  transition: opacity 0.2s;
}

.th:hover .resizer {
  opacity: 1;
}

.isResizing {
  background: blue;
  opacity: 1;
}

@media (max-width: 768px) {
  .th, .td {
    padding: 6px;
    font-size: 14px;
  }
  
  .title {
      font-size: 1rem;
      white-space: normal;
  }
}
